* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background: linear-gradient(135deg, #667eea, #764ba2);
}

.quiz-box {
  width: 100%;
  max-width: 600px;

  background: white;

  border-radius: 18px;

  padding: 30px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

.header h1 {
  margin: 0;
}

.header p {
  color: #666;
}


/* START SCREEN */

#startScreen {
  text-align: center;
}

#userName {
  width: 100%;

  padding: 14px;

  font-size: 16px;

  border: 2px solid #ddd;

  border-radius: 10px;

  margin: 15px 0;
}

#userName:focus {
  outline: none;
  border-color: #667eea;
}

#nameError {
  color: red;
}


/* BUTTONS */

button {
  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background: #667eea;

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  margin-top: 10px;
}

button:hover {
  opacity: 0.9;
}


/* QUIZ */

.welcome {
  text-align: center;

  font-weight: bold;

  color: #4f46e5;
}

.progress-container {
  width: 100%;

  height: 10px;

  background: #e5e7eb;

  border-radius: 20px;

  overflow: hidden;

  margin: 20px 0;
}

#progressBar {
  height: 100%;

  width: 0%;

  background: #667eea;

  transition: 0.3s;
}

.quiz-info {
  display: flex;

  justify-content: space-between;

  font-weight: bold;

  color: #555;
}

#question {
  font-size: 22px;

  margin-top: 25px;
}


/* ANSWERS */

.answer-btn {
  background: #f9fafb;

  color: #222;

  border: 2px solid #e5e7eb;

  text-align: left;
}

.answer-btn:disabled {
  cursor: not-allowed;
}


/* CORRECT ANSWER */

.correct {
  background: #d1fae5 !important;

  border: 2px solid #22c55e !important;

  color: #166534 !important;
}


/* WRONG ANSWER */

.wrong {
  background: #fee2e2 !important;

  border: 2px solid #ef4444 !important;

  color: #991b1b !important;
}


/* RESULTS */

#resultBox {
  text-align: center;
}

.saved {
  color: green;

  font-weight: bold;
}

#restartBtn {
  background: #16a34a;
}


/* SAVED RESULTS */

.result-item {
  background: #f3f4f6;

  padding: 12px;

  margin: 10px 0;

  border-radius: 10px;

  text-align: left;
}
